html,body{
	height:100%;
	overflow:hidden;
/*	background-color:#121212;*/
	font-family: PingFangSC-Regular;
}
/*当日成交头部*/
#recallpsdheader{
	width:100%;
	height:1.706667rem;
	overflow:hidden;
	border-bottom:1px solid #EAEAEA;
}
#recallpsdheader p{
	margin-top:0.786667rem;
	font-size:0.48rem;
	color:#333333;
	text-align:center;
	position:relative;
}
#recallpsdheader p span{
	position: absolute;
	font-size:0.733333rem;
	left:0.426667rem;
}
#psdbefore,#psdnow,#psdsure{
	width:9.2rem;
	height:1.6rem;
	line-height:1.6rem;
	border-bottom:1px solid #EAEAEA;
	margin-left:0.4rem;
}
#psdbefore label,#psdnow label,#psdsure label{
	font-size:0.4rem;
	color:#666666;
}
#psdbefore input,#psdnow input,#psdsure input{
	background-color:#fff;
	border:none;
	outline:none;
	height:0.533333rem;
	line-height:0.533333rem;
	font-size:0.4rem;
	color:#999999;
	margin-left:0.72rem;
	opacity:0.5;
}
#psdsure input{
	margin-left:0.32rem;
}
#confirmpsd button{
	width:8.4rem;
	height:1.173333rem;
	opacity: 0.4;
    background-image: linear-gradient(90deg, #F77756 1%, #FA4751 100%);
    border-radius: 100px;
    display:block;
    margin:0 auto;
    font-size: 0.453333rem;
	color:#fff;
	letter-spacing: 1px;
}
#confirmpsd{
	margin-top:1.173333rem;
}
